{%extends "base.html"%}
{%block content%}
    <div>
        <br><br>
        <h3>Instructions</h3>
        <p>
            The first player enters their choice in the URL bar followed by a '/'
            <br><br>
            The second player enters their choice after this
        </p>
        <p>
            For example, <b>localhost:5000/rock/scissors</b>
        </p>
        <br><br>
        <p>
            <h3>The rules:</h3>
            <b>Rock</b> beats <b>scissors</b>, looses to <b>paper</b>
            <br><br>
            <b>Paper</b> beats <b>rock</b>, looses to <b>scissors</b>
            <br><br>
            <b>Scissors</b> beat <b>paper</b>, loose to <b>rock</b> 
        </p>
    </div>
{%endblock%}
