{%extends "base.html"%}
{%block content%}
    <div>
        <br><br>
        <h3 class="underlined">Instructions</h3>
        <br>
        <p>
            The first player enters their choice in the URL bar followed by a '/'
            <br><br>
            The second player enters their choice after this
        </p>
        <br>
        <p>
            For example, <a href="/rock/scissors"><b>localhost:5000/rock/scissors</b></a>
        </p>
        <br><br><br><br><br>
        <p>
            <h3 class="underlined">Rules</h3>
            <br>
            <b>Rock</b> beats <b>scissors</b>, looses to <b>paper</b>
            <br><br>
            <b>Paper</b> beats <b>rock</b>, looses to <b>scissors</b>
            <br><br>
            <b>Scissors</b> beat <b>paper</b>, loose to <b>rock</b> 
        </p>
    </div>
{%endblock%}
