{%extends "base.html"%}
{%block content%}
    <div>
        <br><br>
        <h2 class="underlined">Instructions</h2>
        <br><br>
        <div class="all-instructions">
            <div id="two-player-instructions">
                <h3>Two Players</h3>
                <br>
                <p>
                    The first player enters their choice in the URL bar followed by a '/'
                    <br><br>
                    The second player enters their choice after this
                </p>
                <br>
                <p>
                    For example: <a href="/rock/scissors">localhost:5000/rock/scissors</a>
                </p>
            </div>
            <div id="one-player-instructions">
                <h3>One Player</h3>
                <br>
                <p>
                    Click the <a href="/play">Play Against Computer</a> link here, or in the top right corner of the screen
                    <br><br>
                    Here you play against a computer opponent
                </p>
                <br>
            </div>
        </div>
        <br><br><br><br><br>
        <p>
            <h2 class="underlined">Rules</h2>
            <br>
            <b>Rock</b> beats <b>scissors</b>, looses to <b>paper</b>
            <br><br>
            <b>Paper</b> beats <b>rock</b>, looses to <b>scissors</b>
            <br><br>
            <b>Scissors</b> beat <b>paper</b>, loose to <b>rock</b> 
        </p>
    </div>
{%endblock%}
